<div>
    <nav class="font-normal select-none py-[1.5rem] bg-light-blue flex items-center justify-between px-20 ">
        <div class="flex">
            <div class="bg-logo-solo bg-no-repeat
            bg-contain bg-center w-52"></div>
            <ul class="flex text-slate-200 ">
                <li ><a href="" class="inline-block p-5 hover:text-slate-50 transition-all">Get Started</a></li>
                <li ><a href="" class="inline-block p-5 hover:text-slate-50 transition-all
                    hover:underline">Mobile Apps</a></li>
                <li class="group relative">
                    <a href="" class="inline-block p-5 hover:text-slate-50 transition-all
                    hover:underline">Learn More <span class=""><i class="fa-solid fa-angle-down"></i></span></a>
                    <ul class="hidden rounded-md w-[10rem] py-5 flex flex-col group-hover:block absolute bg-white left-0 top-full">
                        <li><a href="" class="text-black hover:bg-blue-normal
                             hover:text-slate-50 transition-all inline-block
                             w-full text-center py-[0.5rem]">FAQ</a></li>
                        <li><a href="" class="text-black hover:bg-blue-normal
                            hover:text-slate-50 transition-all inline-block
                            w-full text-center py-[0.5rem]">Group Plans</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        
        <button routerLink="/login" class="text-slate-50 
        bg-dark-blue w-[5rem] 
        py-[0.5rem] rounded-md hover:bg-blue-normal
        transition-all shadow-xl">Login</button>
    </nav>
</div>
