<div class="p-[1.2rem] flex bg-purple font-normal text-white">
    <div class="bg-black p-[5rem]"></div>
    <div class="pl-4 flex flex-col justify-between py-[1rem]
    w-[14rem]">
        <h1 class="text-[25px] font-semibold">Thai Chi Bach</h1>
        <p>Level 1</p>
        <div class="rounded-full overflow-hidden bg-dark-blue h-[1rem] flex">
            <div class="basis-2/6 bg-red-600"></div>
        </div>
        <div class="rounded-full overflow-hidden bg-dark-blue h-[1rem] flex">
            <div class="basis-2/6 bg-yellow-500"></div>
        </div>
    </div>
</div>
