<app-header></app-header>
<div class="p-[3rem] select-none font-normal bg-light-blue flex min-h-8 px-[10rem]">
    <div class="basis-1/2">
        <div class="bg-shadow-tank bg-contain bg-center
        h-[15rem] bg-no-repeat"></div>
        <p class="text-[70px] leading-[4rem] font-pixel pt-6">Motivate yourself to achieve your goals.</p>
        <p class="text-[20px] leading-[1.5rem]  pt-6">It's time to have fun when you get things done! Join over 4 million Habiticans and improve your life one task at a time.</p>
    </div>

    <div class="px-5 basis-1/2">
        <h1 class="text-[40px] text-center font-pixel">Sign Up For Free</h1>
        <p class="mt-8">Username must be 1 to 20 characters, containing only letters a to z, numbers 0 to 9, hyphens, or underscores, and cannot include any inappropriate terms.</p>
        <form action="" class="flex flex-col">
            <input class="mt-6 py-1 px-3 focus:outline outline-[3px] transition-all outline-dark-blue" type="text" name="username" placeholder="Username">
            <input class="mt-6 py-1 px-3 focus:outline outline-[3px] transition-all outline-dark-blue" type="text" name="email" placeholder="Email">
            <input class="mt-6 py-1 px-3 focus:outline outline-[3px] transition-all outline-dark-blue" type="password" name="password" placeholder="Password">
            <input class="mt-6 py-1 px-3 focus:outline outline-[3px] transition-all outline-dark-blue" type="password" name="confirm" placeholder="Confirm Password">
            <p class="my-[0.9rem]">By clicking the button below, you are indicating that you have read and agree to the 
                Terms of Service and Privacy Policy.</p>
            <input class="bg-dark-blue text-slate-50 h-[3rem] rounded-md 
            hover:bg-blue-normal transition-all" 
            type="submit" value="Sign Up"
            routerLink="/play">
        </form>
    </div>
</div>
<app-footer></app-footer>